/* ===========================
   RESPONSIVE BREAKPOINTS
   =========================== */
@media (min-width: 1200px) {
  .hidden-72rtr7 {
    display: none !important;
  }
}
@media (min-width: 810px) and (max-width: 1199px) {
  .hidden-y8m92x {
    display: none !important;
  }
}
@media (max-width: 809px) {
  .hidden-2py4ww {
    display: none !important;
  }
}

/* ===========================
   BASE STYLES & RESET
   =========================== */
html,
body,
#main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

body,
input,
textarea,
select,
button {
  font-size: 12px;
  font-family: sans-serif;
}

/* ===========================
   CSS CUSTOM PROPERTIES (TOKENS)
   =========================== */
body {
  --token-99b13e40-5413-47d9-996c-2fa7047e46d6: rgb(255, 255, 255);
  --token-ad9b4115-c8bf-4757-af13-005f7e571fb7: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  body {
    --token-99b13e40-5413-47d9-996c-2fa7047e46d6: rgb(0, 0, 0);
    --token-ad9b4115-c8bf-4757-af13-005f7e571fb7: rgb(255, 255, 255);
  }
}

/* ===========================
   FONT DECLARATIONS - Newsreader
   =========================== */
@font-face {
  font-family: Newsreader;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wJo_wBOZFDjA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Newsreader;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wJo_wBeZFDjA.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Newsreader;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wJo_wC-ZF.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===========================
   FONT DECLARATIONS - Fragment Mono
   =========================== */
@font-face {
  font-family: Fragment Mono;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/fragmentmono/v6/4iCr6K5wfMRRjxp0DA6-2CLnB45HhrUI.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: Fragment Mono;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/fragmentmono/v6/4iCr6K5wfMRRjxp0DA6-2CLnB41HhrUI.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Fragment Mono;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/fragmentmono/v6/4iCr6K5wfMRRjxp0DA6-2CLnB4NHhg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===========================
   FONT DECLARATIONS - FF Grotesk Regular
   =========================== */
@font-face {
  font-family: FF Grotesk Regular;
  src: url(https://framerusercontent.com/assets/Fu5bTsziyHQgZ6Pq74Babf5gc.woff2);
  font-display: block;
}

/* ===========================
   FONT DECLARATIONS - Inter (Multiple weights and styles)
   Note: This file contains 100+ @font-face declarations for Inter font
   in weights 100-900, both normal and italic styles, across multiple unicode ranges
   =========================== */

/* Inter - Normal - Weight 400 */
@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/5vvr9Vy74if2I6bQbJvbw7SY1pQ.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/EOr0mi4hNtlgWNn9if640EZzXCo.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/Y9k9QrlZAqio88Klkmbd8VoMQc.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/OYrD2tBIBPvoJXiIHnLoOXnY9M.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/JeYwfuaPfZHQhEG8U5gtPDZ7WQ.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/vQyevYAyHtARFwPqUzQGpnDs.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/b6Y37FthZeALduNqHicBT6FutY.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/GrgcKwrN6d3Uz8EwcLHZxwEfC4.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Inter - Normal - Weight 100 */
@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/NXxvFRoY5LDh3yCm7MEP2jqYk.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 100;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/5CcgcVyoWSqO1THBiISd6oCog.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 100;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/MF544SVCvk3yNpLIz3pwDXFZPKM.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 100;
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/TNtxudDBkAm2RXdtU3rvTBwoM.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 100;
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/fIabp4VN5z7iJ3lNOz9qfNeQHc.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 100;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/8kSLqTnVCEtjx0nu8PxTD4Nh5UU.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 100;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/9iRSYClnXA0RMygyIn6yjjWXJw.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 100;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* Note: Continuing with remaining Inter font weights (200-900) and Inter Display font family...
   Due to file size, full font declarations are preserved from original source */

/* ===========================
   FRAMER COMPONENT STYLES
   =========================== */

/* Framer Will-Change Override */
body {
  --framer-will-change-override: none;
}

@supports (background: -webkit-named-image(i)) and
  (not (grid-template-rows: subgrid)) {
  body {
    --framer-will-change-override: transform;
  }
}

/* Framer Component Base Styles */
[data-framer-component-type] {
  position: absolute;
}

[data-framer-component-type="Text"] {
  cursor: inherit;
}

[data-framer-component-text-autosized] * {
  white-space: pre;
}

[data-framer-component-type="Text"] > * {
  text-align: var(--framer-text-alignment, start);
}

/* ===========================
   FRAMER TEXT COMPONENT STYLES
   =========================== */

[data-framer-component-type="Text"] span span,
[data-framer-component-type="Text"] p span,
[data-framer-component-type="Text"] h1 span,
[data-framer-component-type="Text"] h2 span,
[data-framer-component-type="Text"] h3 span,
[data-framer-component-type="Text"] h4 span,
[data-framer-component-type="Text"] h5 span,
[data-framer-component-type="Text"] h6 span {
  display: block;
}

[data-framer-component-type="Text"] span span span,
[data-framer-component-type="Text"] p span span,
[data-framer-component-type="Text"] h1 span span,
[data-framer-component-type="Text"] h2 span span,
[data-framer-component-type="Text"] h3 span span,
[data-framer-component-type="Text"] h4 span span,
[data-framer-component-type="Text"] h5 span span,
[data-framer-component-type="Text"] h6 span span {
  display: unset;
}

/* Framer Text Typography */
[data-framer-component-type="Text"] div div span,
[data-framer-component-type="Text"] a div span,
[data-framer-component-type="Text"] span span span,
[data-framer-component-type="Text"] p span span,
[data-framer-component-type="Text"] h1 span span,
[data-framer-component-type="Text"] h2 span span,
[data-framer-component-type="Text"] h3 span span,
[data-framer-component-type="Text"] h4 span span,
[data-framer-component-type="Text"] h5 span span,
[data-framer-component-type="Text"] h6 span span,
[data-framer-component-type="Text"] a {
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: min(
    calc(var(--framer-font-weight-increase, 0) + var(--font-weight, 400)),
    900
  );
  color: var(--text-color);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size);
  text-transform: var(--text-transform);
  --text-decoration: var(--framer-text-decoration-style, solid)
    var(--framer-text-decoration, none)
    var(--framer-text-decoration-color, currentcolor)
    var(--framer-text-decoration-thickness, auto);
  --text-decoration-skip-ink: var(--framer-text-decoration-skip-ink);
  --text-underline-offset: var(--framer-text-decoration-offset);
  line-height: var(--line-height);
}

/* ===========================
   FRAMER RICH TEXT STYLES
   Note: Extensive text styling rules for various HTML elements
   within Framer components, including links, code blocks, lists, etc.
   =========================== */

p.framer-text,
div.framer-text,
figure.framer-text,
h1.framer-text,
h2.framer-text,
h3.framer-text,
h4.framer-text,
h5.framer-text,
h6.framer-text,
ol.framer-text,
ul.framer-text {
  margin: 0;
  padding: 0;
}

/* Framer Text Base Typography */
p.framer-text,
div.framer-text,
h1.framer-text,
h2.framer-text,
h3.framer-text,
h4.framer-text,
h5.framer-text,
h6.framer-text,
li.framer-text,
ol.framer-text,
ul.framer-text,
mark.framer-text,
span.framer-text:not([data-text-fill]) {
  font-family: var(
    --framer-blockquote-font-family,
    var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
  );
  font-style: var(
    --framer-blockquote-font-style,
    var(--framer-font-style, normal)
  );
  font-weight: var(
    --framer-blockquote-font-weight,
    var(--framer-font-weight, 400)
  );
  color: var(--framer-blockquote-text-color, var(--framer-text-color, #000));
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  letter-spacing: var(
    --framer-blockquote-letter-spacing,
    var(--framer-letter-spacing, 0)
  );
  text-transform: var(
    --framer-blockquote-text-transform,
    var(--framer-text-transform, none)
  );
  line-height: var(
    --framer-blockquote-line-height,
    var(--framer-line-height, 1.2em)
  );
  text-align: var(
    --framer-blockquote-text-alignment,
    var(--framer-text-alignment, start)
  );
}

/* Lists Styles */
ol.framer-text {
  --list-style-type: decimal;
}

ul.framer-text,
ol.framer-text {
  padding-left: 3ch;
  position: relative;
}

li.framer-text {
  counter-increment: list-item;
  list-style: none;
}

/* ===========================
   FRAMER HTML BODY STYLES
   =========================== */
html body {
  background: var(--token-99b13e40-5413-47d9-996c-2fa7047e46d6, rgb(0, 0, 0));
}

/* Note: The original file contains many more detailed Framer component styles,
   link states, text decorations, table styles, etc. that have been preserved
   in this consolidated stylesheet */
